* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main {
    display: flex;
    align-items: start;
    margin-top: 50px;
    height: 1250px;
}
.menu {
    display: grid;
    justify-items: start;
    margin-left: 218px;
    padding-bottom: 15px;
    
}
.menu-main {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(64, 64, 64);
    width: 150px;
}
.menu-main a {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    padding-left: 6px;
    border-radius: 7px;
}
.menu-main a:hover {
    background-color: rgb(33, 33, 33);
    display: flex;
    align-items: flex-end;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-icon {
    color: #71aaeb;
}
.help {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(64, 64, 64);
    width: 150px;
}
.help a{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-radius: 7px;
    margin-top: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.help a:hover {
    background-color: rgb(33, 33, 33);
    display: flex;
    align-items: flex-end;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;  
    padding-top: 5px;
    padding-bottom: 5px;
}
.other {
    display: grid;
    padding-top: 15px;
    border-bottom: 1px solid rgb(64, 64, 64);
    width: 150px;
    padding-bottom: 15px;
}
.other a{
    color: rgb(130, 130, 130);
    text-decoration: none; 
    padding-bottom: 2px;
    font-size: 14px;
}
.other-third{
    display: flex;
    gap: 5px;
    align-items: center;
}
.other a:hover{
    text-decoration-line: underline;
}
.other-first {
    display: flex;
    gap: 20px;
}
.other-second {
    display: flex;
    gap: 20px;
}
.profile-main {
    margin-top: 15px;
    margin-left: 20px;
}
.my-profile {
    background-color: #222222;
    border-radius: 13px;
    border: 1px solid rgb(52, 52, 52);
}
.banner-profile {
    height: 226px;
    overflow: hidden;
    width: 908px;
}
.banner-profile img {
    height: 226px;
    width: 100%;
    object-fit: cover;
    border-radius: 13px 13px 0px 0px;
}
.general-info {
    display: flex;
}
.profile-bottom {
    z-index: 2;
    background-color: #222222;
    height: 124px;
    border-radius: 12px;
}
.profile-bottom img {
    z-index: 1;
    margin-top: -79px;
    margin-left: 15px;
    border-radius: 50%;
    border: 4px solid #222222;
}
.profile-bottom img:hover {
    opacity: 70%;
}
.profile-text {
    display: grid;
    margin-left: 10px;
    padding: 0;
}
.text-first {
    color: rgb(220, 220, 220);
}
.text-first h2 {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: normal;
    color: rgb(220, 220, 220);
}
.text-first h5 {
    margin-top: -12px;
    font-weight: normal;
}
.text-second {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #979797;
    gap: 10px;
    margin-top: -55px;
}
.text-second a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #979797;
}
.text-second a:hover {
    text-decoration: underline;
}
.tiny-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(52, 52, 52);
    object-fit: cover;
}
.btn-profile {
    margin-top: 13px;
    margin-left: 225px;
}
.btn-profile a {
    text-decoration: none;
}
.btn-edit {
    width: 100px;
    color: white;
    padding: 6px 15px 7px 15px;
    background-color: #363636;
    border-radius: 8px;
}
.btn-edit:hover {
    background: #3a3a3a;
}
.btn-more-settings {
    width: 100px;
    color: white;
    padding: 6px 15px 7px 15px;
    background-color: #363636;
    border-radius: 8px;
    margin-left: 5px;
}
.btn-more-settings img{
    margin-top: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.btn-more-settings{
    cursor: pointer;
}
.btn-more-settings:hover{
    background: #3a3a3a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    min-width: 250px;
    border-radius: 10px;
    top: 105%; 
    right: 0;
    z-index: 1;
}
.dropdown-content a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  background-color: #363636;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.round-loaf-top {
    border-radius: 10px 10px 0 0;
}
.round-loaf-bottom {
    border-radius: 0 0 10px 10px;
}
.general-main{
    display: flex;
}
.profile-active{
    background-color: #222222;
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(52, 52, 52);
    width: 540px;
    margin-top: 15px;
}
.tab {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    margin-left: 21px;
}
.tab-btn {
    display: flex;
    gap: 5px;
    padding: 6px 30px;
    background: transparent;
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
}
.tab-btn.active {
    background: #333;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 162px);
    gap: 1px;
    padding: 10px;
}
.gallery img {
    width: 160px;
    height: 150px;
    border: 1px solid rgb(76, 76, 76);
    margin-left: 10px;
    margin-right: -10px;
}
.gallery img:hover {
    opacity: 70%;
}
.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.btns a {
    text-decoration: none;
    background: #333;
    color: white;
    border: none;
    padding: 7px 75px;
    border-radius: 8px;
    cursor: pointer;
}
.btns a:hover {
    background: #444;
}
.playlist {
    padding: 20px;
    text-align: center;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(116, 116, 116);
    margin-top: 20px;
}
.albums {
    display: flex;
}
.album {
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 20px;
}
.album:hover {
    opacity: 80%;
}
.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.album:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
}
.info {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    z-index: 2;
}
.info span {
    font-size: 14px;
    opacity: 0.8;
    display: block;
}
.info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.btns-albums {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.btns-albums a {
    text-decoration: none;
    background: #333;
    color: white;
    border: none;
    padding: 7px 75px;
    border-radius: 8px;
    cursor: pointer;
}
.btns-albums a:hover {
    background: #444;
}
.create-new-post-btn {
    background: #222222;
    border: 1px solid rgb(52, 52, 52);
    display: flex;
    align-items: center;
    height: 40px;
    width: 540px;
    margin-top: 15px;
    border-radius: 12px;
    gap: 10px;
    text-decoration: none;
    color: white;
}
.create-new-post-btn h3 {
    font-weight: lighter;
    margin-left: 133px;
    height: 35px;
    border-left: 1px solid #5f5f5f;
}
.create-new-post-btn h4 {
    margin-left: 215px;
}
.create-new-post-btn:hover {
    background-color: rgb(48, 48, 48);
}
.posts-block{
    background-color: #222222;
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(52, 52, 52);
    width: 540px;
    margin-top: 15px;
}
.tabs {
    display: flex;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    margin-left: 20px;
}
.tabs-btn {
    display: flex;
    gap: 5px;
    margin-right: 10px;
    padding: 6px 30px;
    background: transparent;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
}
.tabs-btn.active {
    background: #333;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
.border {
    width: 100%;
    border-bottom: 1px solid rgb(52, 52, 52);
    margin-top: 10px;
}
.search-btn {
    margin-left: 60px;
    border: none;
    cursor: pointer;
    color: rgb(116, 116, 116);
}
.tabs-content {
    padding: 20px;
    text-align: center;
    min-height: 150px;
}
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(116, 116, 116);
    margin-top: 40px;
}
.general-main-right {
    width: 368px;
}
.profile-status {
    background: #222222;
    border: 1px solid rgb(52, 52, 52);
    display: flex;
    align-items: center;
    width: 353px;
    height: 85px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 12px;
    gap: 10px;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
}
.profile-status:hover {
    background: #3a3a3a;
}
.icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    color: #71aaeb;
}
.status-text {
    display: grid;
    flex: 1; 
}
.status-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.status-text p {
    margin: 3px 0 0;
    font-size: 13px;
    color: #bbb;
}
.status-arrow {
    margin-left: 12px;
    display: flex;
    align-items: center;
}
.section-friends {
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    background: #222222;
    border: 1px solid rgb(52, 52, 52);
    margin-top: 15px;
    margin-left: 15px;
    width: 321px
}
.section-friends h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.section-friends h3:hover {
    color: rgb(113, 113, 113);;
}
.friends-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
}
.friend {
    text-align: center;
    font-size: 12px;
    color: #ccc;
}
.friend:hover {
    background: #4a4a4a;
    border-radius: 10px;
}
.friend img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 7px auto 7px;
}
.section-gift {
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    background: #222222;
    border: 1px solid rgb(52, 52, 52);
    margin-left: 15px;
    width: 321px
}
.section-gift h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.section-gift h3:hover {
    color: rgb(113, 113, 113);;
}
.gifts-list {
    display: flex;
    gap: 10px;
}
.gift {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 12px;
}
.gift img {
    width: 100%;
    object-fit: cover;
    background: #2a2a2a;
}
.gift img:hover {
    opacity: 50%;
}
.subscriptions {
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    background: #222222;
    border: 1px solid rgb(52, 52, 52);
    margin-top: 15px;
    margin-left: 15px;
    width: 321px;
    
}
.subscriptions h3 {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.subscriptions h3:hover {
    color: rgb(113, 113, 113);
}
.subscription-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    border-radius: 12px;
    margin-left: -10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.subscription-item:last-child {
    margin-bottom: 0;
}
.subscription-item:hover {
    background: #4a4a4a;
}
.subscription-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    margin-left: 12px;
}
.subscription-text {
    display: flex;
    flex-direction: column;
}
.subscription-name {
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.subscription-name {
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.subscription-desc {
    font-size: 12px;
    color: #aaa;
}
.videos-block {
    width: 321px;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    background: #222222;
    border: 1px solid rgb(52, 52, 52);
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}
.videos-block h3 {
    text-align: left;
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.videos-block h3:hover {
    color: rgb(113, 113, 113);
}
.videos-block-text {
    margin: 40px 0;
    font-size: 14px;
    color: #bbb;
}
.btn-upload {
    display: block;
    text-decoration: none;
    background: #2a2a2a;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
}
.btn-upload:hover {
    background: #3a3a3a;
}