.general-main{
    display: flex;
}
.profile-active{
    background-color: #222222;
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(52, 52, 52);
    width: 540px;
    margin-top: 15px;
}
.tab {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    margin-left: 21px;
    border: none;
}
.tab_btn {
    display: flex;
    gap: 5px;
    padding: 6px 30px;
    background: transparent;
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    border: none;
}
.tab_btn.active {
    background: #333;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 162px);
    gap: 1px;
    padding: 10px;
}
.gallery img {
    width: 160px;
    height: 150px;
    border: 1px solid rgb(76, 76, 76);
    margin-left: 10px;
    margin-right: -10px;
}
.gallery img:hover {
    opacity: 70%;
}
.gallery-img-top-left {
    border-radius: 10px 0px 0px 0px;
}
.gallery-img-top-right {
    border-radius: 0px 10px 0px 0px;
}
.gallery-img-bottom-left {
    border-radius: 0px 0px 0px 10px;
}
.gallery-img-bottom-right {
    border-radius: 0px 0px 10px 0px;
}
.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.btns a {
    text-decoration: none;
    background: #333;
    color: white;
    border: none;
    padding: 7px 75px;
    border-radius: 8px;
    cursor: pointer;
}
.btns a:hover {
    background: #444;
}
.playlist {
    padding: 20px;
    text-align: center;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(116, 116, 116);
    margin-top: 20px;
}
.albums {
    display: flex;
}
.album {
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 20px;
}
.album:hover {
    opacity: 80%;
}
.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.album:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
}
.info {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    z-index: 2;
}
.info span {
    font-size: 14px;
    opacity: 0.8;
    display: block;
}
.info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.btns-albums {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.btns-albums a {
    text-decoration: none;
    background: #333;
    color: white;
    border: none;
    padding: 7px 75px;
    border-radius: 8px;
    cursor: pointer;
}
.btns-albums a:hover {
    background: #444;
}
.create-new-post-btn {
    background: #222222;
    border: 1px solid rgb(52, 52, 52);
    display: flex;
    align-items: center;
    height: 40px;
    width: 540px;
    margin-top: 15px;
    border-radius: 12px;
    gap: 10px;
    text-decoration: none;
    color: white;
}
.create-new-post-btn h3 {
    font-weight: lighter;
    margin-left: 133px;
    height: 35px;
    border-left: 1px solid #5f5f5f;
}
.create-new-post-btn h4 {
    margin-left: 215px;
}
.create-new-post-btn:hover {
    background-color: rgb(48, 48, 48);
}
.posts-block{
    background-color: #222222;
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(52, 52, 52);
    width: 540px;
    margin-top: 15px;
}
.tabs {
    display: flex;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    margin-left: 20px;
}
.tabs-btn {
    display: flex;
    gap: 5px;
    margin-right: 10px;
    padding: 6px 30px;
    background: transparent;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
}
.tabs-btn.active {
    background: #333;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}
.border {
    width: 100%;
    border-bottom: 1px solid rgb(52, 52, 52);
    margin-top: 10px;
}
.search-btn {
    margin-left: 60px;
    border: none;
    cursor: pointer;
    color: rgb(116, 116, 116);
}
.tabs-content {
    display: none;
    padding: 20px;
    text-align: center;
    min-height: 150px;
}
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(116, 116, 116);
    margin-top: 40px;
}