* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #141414;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #222222;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.header-menu {
    height: 47px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(41, 41, 41);
}
.logo {
    display: flex;
    font-size: 16px;
    align-items: center;
    color: rgba(255, 255, 255, 0.868);  
    margin-left: 218px;
}
.logo h2 {
    padding-left: 9px;
    padding-bottom: 5px;
}
.search-and-music{
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.search-input {
    padding-left: 20px;
    background-color: rgb(68, 68, 68);
    height: 33px;
    width: 230px;
    border-radius: 9px;
    border: 1px solid rgb(41, 41, 41);
}

.notifications-icon{
    color: rgba(255, 255, 255, 0.673);
    margin-left: 16px;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.notifications-icon:hover{
    background-color: rgb(48, 48, 48);
}
.music-player {
    color: rgba(255, 255, 255, 0.673);
    display: flex;
    align-items: center;
    height: 48px;
    padding-right: 12px;
}
.music-player:hover {
    background-color: rgb(48, 48, 48);
}
.music-player svg {
    margin-left: 6px;
}
.music-player h5 {
    padding-left: 14px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.673);
}
.account-settings {
    display: flex;
    align-items: center;
    margin-left: 263px;
    gap: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.account-settings:hover {
    background-color: rgb(48, 48, 48);
}
.settings-ava {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(52, 52, 52);
}