.profile-main {
    margin-top: 15px;
    margin-left: 20px;
}
.my-profile {
    background-color: #222222;
    border-radius: 13px;
    border: 1px solid rgb(52, 52, 52);
}
.banner-profile {
    height: 226px;
    overflow: hidden;
    width: 908px;
}
.banner-profile img {
    height: 226px;
    width: 100%;
    object-fit: cover;
    border-radius: 13px 13px 0px 0px;
}
.general-info {
    display: flex;
}
.profile-bottom {
    z-index: 2;
    background-color: #222222;
    height: 124px;
    border-radius: 50%;

}
.profile-bottom img {
    z-index: 1;
    margin-top: -79px;
    margin-left: 15px;
    border-radius: 50%;
    border: 4px solid #222222;
}
.profile-bottom img:hover {
    opacity: 70%;
}
.profile-text {
    display: grid;
    margin-left: 10px;
    padding: 0;
}
.text-name-and-group-and-inscription {
    color: rgb(220, 220, 220);
}
.text-name-and-group-and-inscription h2 {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: normal;
    color: rgb(220, 220, 220);
}
.text-name-and-group-and-inscription h5 {
    margin-top: -12px;
    font-weight: normal;
}
.text-group-and-more {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #979797;
    gap: 10px;
    margin-top: -55px;
}
.text-group-and-more a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #979797;
}
.text-group-and-more a:hover {
    text-decoration: underline;
}
.tiny-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(52, 52, 52);
    object-fit: cover;
}
.btn-profile {
    margin-top: 13px;
    margin-left: 225px;
}
.btn-profile a {
    text-decoration: none;
}
.btn-edit {
    width: 100px;
    color: white;
    padding: 6px 15px 7px 15px;
    background-color: #363636;
    border-radius: 8px;
}
.btn-edit:hover {
    background: #3a3a3a;
}
.btn-more-settings {
    width: 100px;
    color: white;
    padding: 6px 15px 7px 15px;
    background-color: #363636;
    border-radius: 8px;
    margin-left: 5px;
}
.btn-more-settings img{
    margin-top: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.btn-more-settings{
    cursor: pointer;
}
.btn-more-settings:hover{
    background: #3a3a3a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    min-width: 250px;
    border-radius: 10px;
    top: 105%; 
    right: 0;
    z-index: 1;
}
.dropdown-content a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  background-color: #363636;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.round-loaf-top {
    border-radius: 10px 10px 0 0;
}
.round-loaf-bottom {
    border-radius: 0 0 10px 10px;
}